.manageNav {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 800px;
}

.manageNav__links {
	display: flex;
	margin: 0 auto;
	width: 100%;
}

.manageNav__links__link {
	flex-grow: 2;
	text-align: center;
}

.manageNav__body {
	margin: 0 auto;
	width: 100%;
}
